<% if notice.present? %>
  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="notice">
    <%= content_tag :p, notice, class: "text-sm font-bold text-green-800" %>
  </div>
<% end %>