<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Razão Social
                </th>
                <th scope="col" class="px-6 py-3">
                    Processo(s)
                </th>
                <th scope="col" class="px-6 py-3">
                    Criado em
                </th>
              <% if current_user.role == 'developer' %>
                <th scope="col" class="px-6 py-3">
                    Cliente
                </th>
              <% end %>
            </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= company.name %>
                </th>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.lawsuits.present? ? company.lawsuits.pluck(:alias).join(', ') : 'Sem associações' %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.created_at.strftime('%d/%m/%Y') %>
                </td>
              <% if current_user.role == 'developer' %>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.lawsuits.first.tenancy.name %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>