<div>
  <h1 class="font-bold text-4xl">Visão Geral</h1>
</div>

<%# <p class="mb-3 mt-3 text-lg text-gray-500 md:text-xl dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work and deploy.</p>
<p class="text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p> %>

<div class="grid grid-cols-1 mt-6">
  <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6">
    <h3 class="text-base font-semibold leading-6 text-slate-600 dark:text-gray-200">Últimos Processos Criados</h3>
    <%= render 'last_lawsuits' %>
  </div> 
    <div class="bg-white dark:bg-gray-800  shadow-md rounded-lg p-6 my-3">
    <h3 class="text-base font-semibold leading-6 text-slate-600  dark:text-gray-200">Últimos Informes Publicados</h3>
    <%= render 'last_reports' %>
  </div> 
    <div class="bg-white dark:bg-gray-800  shadow-md rounded-lg p-6">
    <h3 class="text-base font-semibold leading-6 text-slate-600  dark:text-gray-200">Últimas Empresas Criadas</h3>
    <%= render 'last_companies' %>
  </div>  
</div>