<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cnpj:</strong>
    <%= company.cnpj %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lawsuit:</strong>
    <%= company.lawsuits.present? ? company.lawsuits.pluck(:alias).join(', ') : 'Sem associações' %>
  </p>


</div>
